<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i><%= @group.shop_name %>マニュアル新規登録</h4>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_manuals_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-times"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
  <div class="manual">
    <div class="manual__form field">
      <p id="error"><%= flash[:error] %></p>
      <%= form_with model: @manual, url: admin_manuals_path, local: true do |f| %>
      <div class="field__group">
        <%= f.hidden_field :group_id, value: @group.id %>
      </div>
      <div class="field__work-type">
        <h4 class="field__title">業務種別</h4>
        <%= f.collection_select :work_type_id, WorkType.order(:work_type), :id, :work_type, {}, {class: "manual__form--work-type"} %>
      </div>
      <div class="field__name">
        <h4 class="field__title required">マニュアル名称</h4>
        <%= f.text_field :name, class: "manual__form--name" %>
      </div>
      <div class="field__body">
        <h4 class="field__title required">マニュアル概要</h4>
        <%= f.text_area :body, class: "manual__form--body" %>
      </div>
      <div class="field__file">
        <h4 class="field__title">添付ファイル</h4>
        <%= f.file_field :files, multiple: true, class: "manual__form--file" %>
      </div>
      <div class="field__status">
        <h4 class="field__title">公開ステータス</h4>
        <div class="manual__form--status">
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "公開", {value: :true, style: "display: inline-clock;" } %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "非公開", {value: :false, style: "display: inline-clock;" } %>
        </div>
      </div>
      <div class="field__submit">
        <%= f.submit "登録", class: "manual__form--btn" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_manuals_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-times"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
</div>