<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>マニュアル詳細 <i class="fas fa-angle-double-right"></i> <%= @manual.name %></h4>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_manuals_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-book"></i>一覧に戻る</span>
      <% end %>
      <%= link_to(edit_admin_manual_path(@manual.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
    </div>
  </div>
  <div class="manual">
    <div class="manual__head">
      <h4 class="manual__title">マニュアル詳細</h4>
      <div class="manual__info">
        <table>
          <tr>
            <th>マニュアル名</th>
            <td><%= @manual.name %></td>
          </tr>
          <tr>
            <th>業務種別</th>
            <td><%= @manual.work_type.work_type %></td>
          </tr>
          <tr>
            <th>登録日</th>
            <td><%= l @manual.created_at, format: :long %></td>
          </tr>
          <tr>
            <th>最終更新日</th>
            <td><%= l @manual.updated_at, format: :long %></td>
          </tr>
          <tr>
            <th>添付ファイル</th>
            <td>
              <% if @manual.files.attached? %>
                <% @files.each do |file| %>
                  <%= file.filename %>
                <% end %>
              <% else %>
                <%= "添付ファイル無し" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>公開ステータス</th>
            <td>
              <% if @manual.is_active %>
                <%= "公開" %>
              <% else %>
                <%= "非公開" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="manual__main">
      <h4 class="manual__title">お知らせ本文</h4>
      <div class="manual__body">
        <%= simple_format(@manual.body) %>
      </div>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_manuals_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-book"></i>一覧に戻る</span>
      <% end %>
      <%= link_to(edit_admin_manual_path(@manual.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
    </div>
  </div>
</div>