<div class="container">
  <%= link_to "店舗に戻る", admin_group_path(@group_id) %>
  <h2>スキル新規登録</h2>
  <div class="skill">
    <div class="skill__form field">
      <%= form_with model: @skill, url: admin_skills_path, local: true do |f| %>
      <div class="field__group">
        <%= f.hidden_field :group_id, value: @group_id %>
      </div>
      <div class="field__work-type">
        <h4 class="field__title">業務種別</h4>
        <%= f.collection_select :work_type_id, WorkType.order(:work_type), :id, :work_type, {}, {class: "skill__form--work-type"} %>
      </div>
      <div class="field__name">
        <h4 class="field__title">スキル名称</h4>
        <%= f.text_field :name, class: "skill__form--name" %>
      </div>
      <div class="field__rank">
        <h4 class="field__title">スキルランク</h4>
        <%= f.select :rank, [['E', 1], ['D', 2],['C', 3],['B', 4],['A', 5]], {}, {class: "skill__form--rank"} %>
      </div>
      <div class="field__body">
        <h4 class="field__title">スキル概要</h4>
        <%= f.text_area :body, class: "skill__form--body" %>
      </div>
      <div class="fiels__terms">
        <h4 class="field__title">習得条件</h4>
        <%= f.text_area :terms, class: "skill__form--terms" %>
      </div>
      <div class="field__status">
        <h4 class="field__title">公開ステータス</h4>
        <div class="skill__form--status">
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "公開", {value: :true, style: "display: inline-clock;" } %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "非公開", {value: :false, style: "display: inline-clock;" } %>
        </div>
      </div>
      <div class="firld__submit">
        <%= f.submit "登録", class: "manual__form--btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>