<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i><%= @member.last_name + @member.first_name %>さん登録情報編集</h4>
      <%= link_to(admin_member_path(@member.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>詳細に戻る</span>
      <% end %>
    </div>
  </div>

  <%= form_with model: @member, url: admin_member_path(@member.id), method: :patch, local: true do |f| %>

  <div class="member">
    <div class="member__form field">
      <div class="member__form--left">
        <div class="file-field">
          <%= f.label :image do %>
            <% if @member.image.present? %>
              <%= image_tag(@member.get_image(200, 200), class: "avatar") %>
            <% else %>
              <i class="fas fa-portrait"></i>
            <% end %>
            <%= f.file_field :image, class: "uploader", style: "display:none;" %>
          <% end %>
        </div>
        <div class="field__objective">
          <h5 class="member__form--title">今月の目標</h5>
          <%= f.text_area :objective, placeholder: "目標を入力", class: "member__form--objective" %>
        </div>
      </div>
      <div class="member__form--right field">
        <div class="field__group">
          <h5 class="member__form--title">店舗</h5>
          <%= f.collection_select :group_id, Group.all, :id, :shop_name, {prompt: "選択してください"}, class: "member__form--group" %>
        </div>
        <div class="field__name">
          <h5 class="member__form--title">氏名</h5>
          <%= f.text_field :last_name, class: "member__form--name", placeholder: "姓" %>
          <%= f.text_field :first_name, class: "member__form--name", placeholder: "名" %>
        </div>
        <div class="field__name">
          <h5 class="member__form--title">フリガナ</h5>
          <%= f.text_field :last_name_kana, class: "member__form--name", placeholder: "セイ" %>
          <%= f.text_field :first_name_kana, class: "member__form--name", placeholder: "メイ" %>
        </div>
        <div class="field__birthday">
          <h5 class="member__form--title">生年月日</h5>
          <%= raw sprintf(f.date_select(:birthday, with_css_classes: true, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator: "%s"), "年", "月") + "日" %>
        </div>
        <div class="field__address">
          <h5 class="member__form--title">住所</h5>
          〒<%= f.text_field :postal_code, placeholder: "0000000", class: "member__form--post" %> <span style="font-size: 8px;">(ハイフンなし)</span><br>
          <%= f.text_field :address, placeholder: "住所", class: "member__form--address" %>
        </div>
        <div class="field__email">
          <h5 class="member__form--title">メールアドレス</h5>
          <%= f.email_field :email, placeholder: "email@example.com", class: "member__form--email" %>
        </div>
        <div class="field__telephone">
          <h5 class="member__form--title">電話番号</h5>
          <%= f.text_field :telephone_number, placeholder: "00012345678", class: "member__form--phone" %>
        </div>
        <div class="field__active">
          <h5 class="member__form--title">在籍ステータス</h5>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "在籍", {value: :true, style: "display: inline-clock;" } %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "退社", {value: :false, style: "display: inline-clock;" } %>
        </div>
        <div class="field__submit">
          <%= f.button :type => "submit", class: "member__form--btn" do %>
            <p><i class="fas fa-redo"></i> 更新</p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_member_path(@member.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>詳細に戻る</span>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'image' %>