<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i><%= @member.last_name + @member.first_name %>さん詳細情報</h4>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(edit_admin_member_path(@member.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
    </div>
  </div>

  <div class="memberData">
    <div class="memberData__item">
      <h3 class="memberData__heading">従業員情報</h3>
      <div class="memberInfo">
        <div class="memberInfo__img"><%= image_tag @member.get_image(200, 200) %></div>
        <div class="memberInfo__data">
          <table>
            <tr>
              <th>氏名</th>
              <td><%= @member.last_name + @member.first_name %></td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td><%= @member.birthday.strftime("%Y年%m月%d日") %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= "〒" +@member.postal_code %><br><%= @member.address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= @member.telephone_number %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @member.email %></td>
            </tr>
            <tr>
              <th>在籍ステータス</th>
              <td>
              <% if @member.is_active %>
                <p>在籍</p>
              <% else %>
                <p>退社</p>
              <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="memberObjec">
        <h3 class="memberObjec__title">＜今月の目標＞</h3>
        <p class="memberObjec__text"><%= @member.objective %></p>
      </div>
    </div>
    <div class="memberData__item">
      <h3 class="memberData__heading">スケジュール</h3>
      <div class="memberData__schedule schedules">
        <div id="calendar"></div>
        <div id="schedule-modal" class="schedule-modal">
          <div class="schedule-modal__bg schedule-modal-close"></div>
            <div class="schedule-modal__content">
              <h1 class="schedule-modal__title">スケジュール登録</h1>
              <div class="schedule-modal__body">
                <div id="group-id"><%= params[:group_id] %></div>
                <div id="member-id"><%= params[:id] %></div>
              </div>
              <div class="schedule-modal-close">
                <p class="close-btn">閉じる</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="memberData__item">
      <h3 class="memberData__heading">習得スキル</h3>
      <div class="acquired">
        <table class="acquired__table">
          <thead>
            <tr>
              <th width="50%">スキル名</th>
              <th width="20%">ランク</th>
              <th width="20%">習得日</th>
              <th width="10%"></th>
            </tr>
          </thead>
          <tbody>
            <% @acquired.each do |acquire| %>
            <tr class="acquired__item">
              <td><%= link_to acquire.skill.name, admin_skill_path(acquire.skill.id), class: "acquired__name" %></td>
              <td class="acquired__rank"><%= acquire.skill.rank_i18n %></td>
              <td class="acquired__date"><%= l acquire.updated_at.to_date, format: :default %></td>
              <td class="acquired__des">
                <%= link_to(admin_member_skill_path(acquire.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "acquired__des--btn") do %>
                  <span><i class="fas fa-minus-square"></i></span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="acquired__form">
          <h4 class="addAcquired">習得スキル追加</h4>
          <%= form_with model: @member_skill, url: admin_member_skills_path, local: true do |f| %>
            <%= f.hidden_field :member_id, value: @member.id %>
            <%= f.hidden_field :is_acquire, value: true %>
            <%= f.collection_select :skill_id, Skill.order(:name), :id, :skill_data, {}, {class: "acquired__form--select"} %>
            <%= f.button :type => "submit", class: "acquired__form--submit" do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="memberData__item">
      <h3 class="memberData__heading">未習得（チャレンジ）リスト</h3>
      <div class="challenge">
        <table class="challenge__table">
          <thead>
            <tr>
              <th width="50%">スキル名</th>
              <th width="20%">ランク</th>
              <th width="20%">開始日</th>
              <th width="10%"></th>
            </tr>
          </thead>
          <tbody>
            <% @challenges.each do |challenge| %>
            <tr class="challenge__item">
              <td>
                <%= link_to challenge.skill.name, admin_skill_path(challenge.skill.id), class: "challenge__name" %>
                <%= form_with model: challenge, url: admin_member_skill_path(challenge.id), method: :patch do |f| %>
                  <div class="challenge__range">
                    <div class="challenge__range--data">
                      <span id="current_level"><%= challenge.level %></span>％
                    </div>
                    <%= f.range_field :level, :min=>0, :max=>100, :step=>10, id: "member_skill_level", class: "challenge__range--form" %>
                    <%= f.button :type => "submit", class: "challenge__range--btn" do %>
                      <i class="fas fa-redo"></i>
                    <% end %>
                  </div>
                <% end %>
                </td>
              <td class="challenge__rank"><%= challenge.skill.rank_i18n %></td>
              <td class="challenge__date"><%= l challenge.created_at.to_date, format: :default %></td>
              <td class="challenge__des">
                <%= link_to(admin_member_skill_path(challenge.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "challenge__des--btn") do %>
                  <span><i class="fas fa-minus-square"></i></span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="challenge__form">
          <h4 class="addChallenge">チャレンジスキル追加</h4>
          <%= form_with model: @member_skill, url: admin_member_skills_path, local: true do |f| %>
            <%= f.hidden_field :member_id, value: @member.id %>
            <%= f.hidden_field :is_acquire, value: false %>
            <%= f.collection_select :skill_id, Skill.order(:name), :id, :skill_data, {}, {class: "challenge__form--select"} %>
            <%= f.button :type => "submit", class: "challenge__form--submit" do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(edit_admin_member_path(@member.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'range' %>
