<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>メンバー新規登録</h4>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
    </div>
  </div>


  <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member' do |f| %>
    <%= render "member/shared/error_messages", resource: resource %>

    <div class="container__member member">
      <div class="member__form">
        <div class="member__form--left">
          <div class="file-field">
            <%= f.label :image do %>
              <% if @member.image.present? %>
                <%= image_tag(@member.get_image(200, 200), class: "avatar") %>
              <% else %>
              <div class="file-field__icon">
                <i class="fas fa-images" style="font-size: 80px;"></i>
                <p class="file-field__icon--txt">画像をアップロードしてください</p>
              </div>
              <% end %>
              <%= f.file_field :image, class: "uploader", style: "display:none;" %>
            <% end %>
          </div>
        </div>
        <div class="member__form--right field">
          <div class="field__group">
            <h5 class="member__form--title">店舗</h5>
            <%= f.hidden_field :group_id, value: @group_id %>
            <p><%= @group.shop_name %></p>
          </div>
          <div class="field__name">
            <h5 class="member__form--title">氏名</h5>
            <%= f.text_field :last_name, class: "member__form--name", placeholder: "姓" %>
            <%= f.text_field :first_name, class: "member__form--name", placeholder: "名" %>
          </div>
          <div class="field__name">
            <h5 class="member__form--title">フリガナ</h5>
            <%= f.text_field :last_name_kana, class: "member__form--name", placeholder: "セイ" %>
            <%= f.text_field :first_name_kana, class: "member__form--name", placeholder: "メイ" %>
          </div>
          <div class="field__birthday">
            <h5 class="member__form--title">生年月日</h5>
            <%= raw sprintf(f.date_select(:birthday, class: "member__form--birthday", use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator: "%s"), "年", "月") + "日" %>
          </div>
          <div class="field__address">
            <h5 class="member__form--title">住所</h5>
            〒<%= f.text_field :postal_code, placeholder: "0000000", class: "member__form--post" %><br>
            <%= f.text_field :address, placeholder: "住所", class: "member__form--address" %>
          </div>
          <div class="field__email">
            <h5 class="member__form--title">メールアドレス</h5>
            <%= f.email_field :email, placeholder: "email@example.com", class: "member__form--email" %>
          </div>
          <div class="field__telephone">
            <h5 class="member__form--title">電話番号</h5>
            <%= f.text_field :telephone_number, placeholder: "00012345678", class: "member__form--phone" %>
          </div>
          <div class="field__password">
            <h5 class="member__form--title">パスワード</h5>
            <%= f.password_field :password, placeholder: "パスワード", class: "member__form--pass" %><br>
            <%= f.password_field :password_confirmation, placeholder: "確認用", class: "member__form--pass" %>
          </div>
          <div class="field__submit">
            <%= f.submit "登録", class: "member__form--btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<%= javascript_pack_tag 'image' %>

