<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i><%= @group.shop_name %>マニュアル一覧</h4>
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
    </div>
  </div>
  <div class="manualList">
    <table class="manualList__table">
      <thead class="manualList__head">
        <tr>
          <th width="10%">種別</th>
          <th width="30%">マニュアル名</th>
          <th width="10%"></th>
          <th width="20%">登録日時</th>
          <th width="20%">最終更新日時</th>
        </tr>
      </thead>
      <tbody class="manualList__body">
      <% @manuals.each do |manual| %>
        <tr class="manualList__item">
          <td class="manualList__text--center"><%= manual.work_type.work_type %></td>
          <td class="manualList__text"><%= link_to manual.name, member_manual_path(manual.id) %></td>
          <td class="manualList__text--center">
            <% if manual.files.attached? %>
              <i class="fas fa-paperclip" style="color: red;"></i>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td class="manualList__date"><span class="manualList__date--1"><%= l manual.created_at, format: :long %></span><span class="manualList__date--2"><%= l manual.created_at, format: :default %></span></td>
          <td class="manualList__date"><span class="manualList__date--1"><%= l manual.updated_at, format: :long %></span><span class="manualList__date--2"><%= l manual.updated_at, format: :default %></span></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="container__links--btm">
    <div class="links">
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
    </div>
  </div>
</div>