<div class="container">
  <h2><span><%= @group.shop_name %></span>マニュアル一覧</h2>
  <%= link_to "マイページ", member_member_path(current_member.id) %>
  <div class="manualList container__element--center">
    <table class="manualList__table">
      <thead class="manualList__head">
        <tr>
          <th width="10%">業務種別</th>
          <th width="30%">マニュアル名</th>
          <th width="10%">添付ファイル</th>
          <th width="20%">登録日時</th>
          <th width="20%">最終更新日時</th>
        </tr>
      </thead>
      <tbody class="manualList__body">
      <% @manuals.each do |manual| %>
        <tr class="manualList__item">
          <td class="manualList__text--center"><%= manual.work_type.work_type %></td>
          <td class="manualList__text"><%= link_to manual.name, member_manual_path(manual.id) %></td>
          <td class="manualList__text--center">
            <% if manual.files.attached? %>
              <p>〇</p>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td><%= l manual.created_at, format: :long %></td>
          <td><%= l manual.updated_at, format: :long %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>