<div class="container">
  <div class="container__logIn">
    <div class="logIn">
      <h2 class="logIn__title">メンバーログイン</h2>
      <%= form_with model: @member, url: member_session_path do |f| %>
      <div class="logIn__field ">
        <div class="logIn__field--email form">
          <label class="form__title" for="admin_email">メールアドレス</label><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__email" %>
        </div>
        <div class="logIn__field--pass form">
          <label class="form__title" for="admin_password">パスワード</label><br>
          <%= f.password_field :password, autocomplete: "current-password", class: "form__pass" %>
        </div>
      </div>
      <div class="logIn__actions">
        <%= f.submit "ログイン", class: "logIn__actions--btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "member/shared/links" %>
