<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>業務種別設定</h4>
      <%= link_to(admin_groups_path, class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗一覧に戻る</span>
      <% end %>
    </div>
  </div>

  <div class="types">
    <div class="typesAdd">
      <%= form_with model: @work_type_new, url: admin_work_types_path, local: true do |f| %>
      <h3 class="typesAdd__title">新規登録</h3>
      <p id="error"><%= flash[:error] %></p>
        <%= f.text_field :work_type, class: "typesAdd__text" %>
        <%= f.submit "登録", class: "typesAdd__btn" %>
      <% end %>
    </div>
    <table class="types__table">
      <thead>
        <tr>
          <th>業務種別一覧</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% @work_types.each do |work_type| %>
        <tr class="types__item">
          <%= form_with model: work_type, url: admin_work_type_path(work_type.id), method: :patch, local: true do |f| %>
          <td><%= f.text_field :work_type, class: "types__name" %></td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "公開", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "非公開", {value: :false, style: "display: inline-block;"} %>
          </td>
          <td><%= f.submit "更新", class: "types__btn" %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>