<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>スキル詳細 <i class="fas fa-angle-double-right"></i> <%= @skill.name %></h4>
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
      <%= link_to(member_skills_path, class: "links__item") do %>
        <span><i class="fas fa-chart-line"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
  <div class="skillData">
    <div class="skillData__item">
      <h3 class="skillData__heading">スキル情報</h3>
      <div class="skillInfo">
        <div class="skillInfo__data">
          <table>
            <tr>
              <th>スキル名</th>
              <td><%= @skill.name %></td>
            </tr>
            <tr>
              <th>業務種別</th>
              <td><%= @skill.work_type.work_type %></td>
            </tr>
            <tr>
              <th>ランク</th>
              <td><%= @skill.rank_i18n %></td>
            </tr>
            <tr>
              <th>登録日</th>
              <td><%= l @skill.created_at, format: :long %></td>
            </tr>
            <tr>
              <th>最終更新日</th>
              <td><%= l @skill.updated_at, format: :long %></td>
            </tr>
            <tr>
              <th>公開ステータス</th>
              <td>
                <% if @skill.is_active %>
                  <%= "公開" %>
                <% else %>
                  <%= "非公開" %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="skillData__item">
      <div class="skillData__item--1">
        <h3 class="skillData__heading">スキル概要</h3>
        <div class="skillData__text"><%= simple_format(@skill.body) %></div>
      </div>
      <div class="skillData__item--2">
        <h3 class="skillData__heading">習得条件</h3>
        <p class="skillData__text"><%= @skill.terms %></p>
      </div>
    </div>
    <div class="skillData__item">
      <h3 class="skillData__heading">必要技術</h3>
      <div class="skillDetails">
        <table class="skillDetails__table">
          <thead>
            <tr>
              <th width="80%"></th>
            </tr>
          </thead>
          <tbody>
            <% @skill_details.each do |skill_detail| %>
            <tr class="skillDetails__item">
              <td class="skillDetails__body"><%= skill_detail.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="skillData__item">
      <h3 class="skillData__heading">関連マニュアル</h3>
      <div class="skillManuals">
        <table class="skillManuals__table">
          <thead>
            <tr>
              <th width="90%"></th>
            </tr>
          </thead>
          <tbody>
            <% @skill_manuals.each do |skill_manual| %>
            <tr class="skillManuals__item">
              <td><%= link_to skill_manual.manual.name, member_manual_path(skill_manual.manual.id), class: "skillManuals__name" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container__links--btm">
    <div class="links">
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
      <%= link_to(member_skills_path, class: "links__item") do %>
        <span><i class="fas fa-chart-line"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
</div>