<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>スキル詳細 <i class="fas fa-angle-double-right"></i> <%= @skill.name %></h4>
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
      <%= link_to(member_skills_path, class: "links__item") do %>
        <span><i class="fas fa-chart-line"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
  <div class="skillContent">
    <div class="skillContent__heading">
      <table>
        <thead>
          <tr>
            <th width="10%">業務種別</th>
            <th width="30%">スキル名称</th>
            <th width="10%">ランク</th>
            <th width="20%">登録日時</th>
            <th width="20%">最終更新日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @skill.work_type.work_type %></td>
            <td><%= @skill.name %></td>
            <td><%= @skill.rank_i18n %></td>
            <td><%= l @skill.created_at, format: :long %></td>
            <td><%= l @skill.updated_at, format: :long %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="skillContent__main">
      <div class="skillContent__main--left field">
        <div class="skillContent__body">
          <h4 class="field__title">スキル概要</h4>
          <p class="field__text"><%= @skill.body %></p>
        </div>
        <div class="skillContent__terms">
          <h4 class="field__title">習得条件</h4>
          <p class="field__text"><%= @skill.terms %></p>
        </div>
      </div>
      <div class="skillContent__main--right">
        <div class="skillDetails">
          <h4 class="field__title">必要技術</h4>
          <% @skill_details.each do |skill_detail| %>
          <div class="skillDetails__list">
            <p class="skillDetails__item"><%= skill_detail.body %></p>
          </div>
          <% end %>
        </div>
        <div class="skillManuals">
          <h4 class="field__title">関連マニュアル</h4>
          <% @skill_manuals.each do |skill_manual| %>
          <div class="skillManual__list">
            <p class="skillManual__item"><%= link_to skill_manual.manual.name, member_manual_path(skill_manual.manual.id) %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(member_member_path(current_member.id), class: "links__item") do %>
        <span><i class="fas fa-home"></i>マイページ</span>
      <% end %>
      <%= link_to(member_skills_path, class: "links__item") do %>
        <span><i class="fas fa-chart-line"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
</div>