<div class="container">
  <h1 class="container__title">店舗一覧</h1>
  <button class="js-modal-open">店舗を追加</button>
    <div class="modal js-modal">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
        <h4>店舗新規登録</h4>
        <%= form_with model: @group_new, url: admin_groups_path, local: true do |f| %>
        <div class="modal__form--img"><%= f.file_field :shop_image, accept: "image/*", class: "modal__form--img" %></div>
        <div class="modal__form--txt"><%= f.text_field :shop_name, class: "modal__form--txt" %></div>
        <div><%= f.submit "登録", class: "modal__form--sub" %></div>
        <% end %>
        <div class="js-modal-close" align="right">
          <button class="close-btn"><span>✕</span>閉じる</button>
        </div>
      </div>
    </div>
  <div class="group">
    <% @groups.each do |group| %>
    <div class="group__list groupList">
      <div class="groupList__image"><%= image_tag group.get_shop_image(200, 200) %></div>
      <h4 class="groupList__name"><%= link_to group.shop_name, admin_group_path(group.id) %></h4>
      <%= link_to "編集", edit_admin_group_path(group.id), class: "groupList__edit" %>
    </div>
    <% end %>
  </div>
</div>
