<div class="container">
  <h1 class="heading">店舗一覧</h1>
  <p id="error" style="text-align:right;"><%= flash[:error] %></p>
  <p class="js-group-modal-open addGroup"><i class="fas fa-plus"></i>店舗を追加</p>
    <div class="group-modal js-group-modal">
      <div class="group-modal__bg js-group-modal-close"></div>
      <div class="group-modal__content">
        <h3 class="group-modal__title">店舗新規登録</h3>
        <%= form_with model: @group, url: admin_groups_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :admin_id, value: current_admin.id %>
        <div class="group-modal__form--txt">
          <%= f.text_field :shop_name, placeholder: "店舗名", class: "group-modal__form--txt" %></div>
        <div><%= f.submit "登録", class: "group-modal__form--sub" %></div>
        <% end %>
        <div class="js-group-modal-close" align="right">
          <p class="close-btn"><span><i class="fas fa-times"></i></span>閉じる</p>
        </div>
      </div>
    </div>
  <div class="group">
    <% @groups.each do |group| %>
    <div class="group__list groupList">
      <%= link_to group.shop_name, admin_group_path(group.id, group_id: group.id), class: "groupList__name" %>
    </div>
    <% end %>
  </div>
</div>
