<div class="container">
  <%= link_to "⇐店舗一覧に戻る", admin_groups_path, data: {"turbolinks" => false} %>
  <h1><%= @group.shop_name %>メンバー一覧</h1>
  <div><%= link_to "メンバー追加", new_member_registration_path(group_id: @group.id) %></div>
  <div><%= link_to "マニュアル追加", new_admin_manual_path(group_id: @group.id) %></div>
  <div><%= link_to "マニュアル一覧", admin_manuals_path(group_id: @group.id) %></div>
  <div><%= link_to "スキル追加", new_admin_skill_path(group_id: @group.id) %></div>
  <div><%= link_to "スキル一覧", admin_skills_path(group_id: @group.id) %></div>
  <div><%= link_to "お知らせ一覧", admin_group_messages_path(group_id: @group.id) %></div>


  <div class="members">
    <% @members.each do |member| %>
    <div class="members__list memberList">
      <div class="memberList__image"><%= image_tag member.get_image(200, 200) %></div>
      <h4 class="memberList__name"><%= link_to (member.last_name + member.first_name), admin_member_path(member.id), data: {"turbolinks" => false} %></h4>
      <%= link_to "編集", edit_admin_member_path(member.id), class: "memberList__edit" %>
    </div>
    <% end %>
  </div>
</div>