<div class="container">
  <%= link_to "⇐店舗一覧に戻る", admin_groups_path, data: {"turbolinks" => false} %>
  <h1 class="heading"><%= @group.shop_name %>メンバー一覧</h1>
  <%= link_to(new_member_registration_path(group_id: @group.id), class: "addMember") do %>
    <span><i class="fas fa-plus"></i>メンバー追加</span>
  <% end %>



  <div class="members">
    <% @members.each do |member| %>
    <div class="members__list memberList">
      <div class="memberList__image"><%= image_tag member.get_image(100, 100) %></div>
      <h4><%= link_to (member.last_name + member.first_name), admin_member_path(member.id, group_id: @group.id), data: {"turbolinks" => false}, class: "memberList__name" %></h4>
    </div>
    <% end %>
  </div>
</div>