<header>
  <div class="header">
    <div class="header__logo">
      <h3>
        Progress<br>
        Hospitality
      </h3>
    </div>
    <% if admin_signed_in? %>
      <h4 class="header__who">管理者としてログイン中...</h4>
      <div class="header__items nav">
        <div id="hm-icon">
          <div class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="sp-menu">
          <div class="menu">
            <h2 class="menu__title">各種メニュー</h2>
            <ul class="menu__list">
            <% if params[:group_id] %>
              <li class="menu__item">
                <%= link_to(admin_groups_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> 店舗一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> 従業員一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(admin_group_messages_path(group_id: @group.id), class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> お知らせ一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(admin_skills_path(group_id: @group.id), class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> スキル一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(admin_manuals_path(group_id: @group.id), class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> マニュアル一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(destroy_admin_session_path, method: :delete, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> ログアウト</span>
                <% end %>
              </li>
              <% else %>
              <li class="menu__item">
                <%= link_to(admin_groups_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> 店舗一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(admin_work_types_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> 業務種別設定</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(destroy_admin_session_path, method: :delete, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i> ログアウト</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% elsif member_signed_in? %>
      <h4 class="header__who"><%= "#{current_member.last_name} #{current_member.first_name}" %>でログイン中...</h4>
      <div class="header__items nav">
        <div id="hm-icon">
          <div class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="sp-menu">
          <div class="menu">
            <h2 class="menu__title">各種メニュー</h2>
            <ul class="menu__list">
              <li class="menu__item">
                <%= link_to(member_member_path(current_member.id), class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i>  マイページ</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(member_group_messages_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i>  お知らせ一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(member_skills_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i>  スキル一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(member_manuals_path, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i>  マニュアル一覧</span>
                <% end %>
              </li>
              <li class="menu__item">
                <%= link_to(destroy_member_session_path, method: :delete, class: "menu__item--link") do %>
                  <span><i class="fas fa-caret-right"></i>ログアウト</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
</header>