<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>お知らせ編集 <i class="fas fa-angle-double-right"></i> <%= @group_message.title %></h4>
      <%= link_to(admin_group_message_path(@group_message.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-times"></i>詳細に戻る</span>
      <% end %>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_group_messages_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-newspaper"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
  <div class="group-message">
    <div class="group-message__form field">
      <%= form_with model: @group_message, url: admin_group_message_path(@group_message.id), method: :patch, local: true do |f| %>
        <%= f.hidden_field :group_id, value: @group.id %>
      <div class="field__message-title">
        <h4 class="field__title">件名</h4>
        <%= f.text_field :title, class: "group-message__form--title" %>
      </div>
      <div class="field__body">
        <h4 class="field__title">本文</h4>
        <%= f.text_area :body, class: "group-message__form--body" %>
      </div>
      <div class="field__file">
        <h4 class="field__title">添付ファイル</h4>
        <%= f.file_field :files, multiple: true, class: "group-message__form--file" %>
      </div>
      <div class="field__submit">
        <%= f.submit "更新", class: "group-message__form--btn" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_group_message_path(@group_message.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-times"></i>詳細に戻る</span>
      <% end %>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_group_messages_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-newspaper"></i>一覧に戻る</span>
      <% end %>
    </div>
  </div>
</div>