<div class="container">
  <h2>お知らせ新規作成</h2>
  <div class="container__links">
    <button><%= link_to "戻る", admin_group_path(@group_id) %></button>
  </div>
  <div class="group-message">
    <div class="group-message__form field">
      <%= form_with model: @group_message, url: admin_group_messages_path, local: true do |f| %>
        <%= f.hidden_field :group_id, value: @group_id %>
      <div class="field__message-title">
        <h4 class="field__title">件名</h4>
        <%= f.text_field :title, class: "group-message__form--title" %>
      </div>
      <div class="field__body">
        <h4 class="field__title">本文</h4>
        <%= f.text_area :body, class: "group-message__form--body" %>
      </div>
      <div class="field__file">
        <h4 class="field__title">添付ファイル</h4>
        <%= f.file_field :files, multiple: true, class: "group-message__form--file" %>
      </div>
      <div class="field__submit">
        <%= f.submit "送信" %>
      </div>
    <% end %>
    </div>
  </div>

</div>