<div class="container">
  <div class="container__links">
    <div class="links">
      <h4 class="links__title"><i class="fas fa-caret-right"></i>お知らせ詳細</h4>
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_group_messages_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-newspaper"></i>一覧に戻る</span>
      <% end %>
      <%= link_to(edit_admin_group_message_path(@group_message.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
      <%= link_to(admin_group_message_path(@group_message.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "links__item") do %>
        <span><i class="fas fa-trash-alt"></i>削除</span>
      <% end %>
    </div>
  </div>

  <div class="message">
    <div class="message__head">
      <h4 class="message__title">お知らせ情報</h4>
      <div class="message__info">
        <table>
          <tr>
            <th>件名</th>
            <td><%= @group_message.title %></td>
          </tr>
          <tr>
            <th>送信日</th>
            <td><%= l @group_message.created_at, format: :short %></td>
          </tr>
          <tr>
            <th>最終更新日</th>
            <td><%= l @group_message.updated_at, format: :short %></td>
          </tr>
          <tr>
            <th>添付ファイル</th>
            <td>
              <% if @group_message.files.attached? %>
                <% @group_message.files.each do |file| %>
                  <%= link_to file.filename, rails_blob_path(file), target: :_blank, rel: "noopener noreferrer" %>
                <% end %>
              <% else %>
                <%= "" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="message__comment">
      <h4 class="message__title">コメント</h4>
      <div class="message__comments commentList">
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
        <div class="commentList__item">
          <div class="commentList__comment"><%= simple_format(comment.comment) %></div>
          <div class="commentList__info">
            <%= comment.member.last_name + comment.member.first_name %><br>
            <%= l comment.created_at, format: :short %>
            <%= link_to(admin_group_message_comment_path(@group_message.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？") do %>
              <p class="commentList__delete"><i class="fas fa-trash-alt"></i> 削除</p>
            <% end %>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="commentList__none">
          <p>（コメントはありません）</p>
        </div>
      <% end %>
      </div>
    </div>
    <div class="message__main">
      <h4 class="message__title">お知らせ本文</h4>
      <div class="message__body">
        <%= simple_format(@group_message.body) %>
      </div>
    </div>
    <div class="message__member destination">
      <h4 class="message__title">送信先一覧</h4>
      <table class="destination__table">
        <thead class="destination__head">
          <tr>
            <th width="5%"></th>
            <th width="50%">氏名</th>
            <th width="40%">確認日時</th>
          </tr>
        </thead>
        <tbody class="destination__body">
          <% @members.each do |member| %>
          <tr class="destination__item">
            <% if @group_message.checked_by?(member) %>
              <td><%= "" %></td>
              <td class="destination__name"><%= "#{member.last_name} #{member.first_name}" %></td>
              <td class="destination__time"><%= l Check.find_by(member_id: member.id, group_message_id: @group_message.id).created_at, format: :long %></td>
            <% else %>
              <td><p class="destination__item--red">未</p></td>
              <td class="destination__name"><%= "#{member.last_name} #{member.first_name}" %></td>
              <td class="destination__time"></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container__links">
    <div class="links">
      <%= link_to(admin_group_path(@group.id, group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-caret-left"></i>店舗に戻る</span>
      <% end %>
      <%= link_to(admin_group_messages_path(group_id: @group.id), class: "links__item") do %>
        <span><i class="fas fa-newspaper"></i>一覧に戻る</span>
      <% end %>
      <%= link_to(edit_admin_group_message_path(@group_message.id), class: "links__item") do %>
        <span><i class="fas fa-edit"></i>編集</span>
      <% end %>
      <%= link_to(admin_group_message_path(@group_message.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "links__item") do %>
        <span><i class="fas fa-trash-alt"></i>削除</span>
      <% end %>
    </div>
  </div>
</div>